{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{banner.background}}')">{{banner.title}}</section>
<h2>{{banner.title}} disponíveis para adoção</h2>
{{/banner}}
<div class="container list">
</div>

      <div class=" container no-list">
            <h2>Página não encontrada.</h2>
      <div>


{{>partials/footer}}